.input-group-text {
    background: #c0392b !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0.25rem 0.25rem 0.25rem !important;
}
#loader { 
	border: 12px solid #f3f3f3; 
	border-radius: 50%; 
	border-top: 12px solid #444444; 
	width: 70px; 
	height: 70px; 
	animation: spin 1s linear infinite; 
} 
  
@keyframes spin { 
	100% { 
		transform: rotate(360deg); 
	} 
} 
.center { 
            position: absolute; 
            top: 0; 
            bottom: 0; 
            left: 0; 
            right: 0; 
            margin: auto; 
        } 



/* .Vector_6:hover{
} */
	/* animation:zoom-block 0.5s ease ; */
@keyframes zoom-block {
	0% {
		

	}
	100% {
		opacity:0.5;
		transform:translateX(10px);


	}
}

#hat-headphone,#hands,#face,#body,#neck,#hair,#lower-hat{
	animation:Moves 2s infinite ease alternate;
}
#shadow{
	animation:MovesShadow 2s infinite ease alternate;
}
@keyframes MovesShadow {
	0% {
		transform:translateX(0);

	}
	100% {
		transform:translateX(-25px);

	}
}
@keyframes Moves {
	0% {
		transform:translateX(0);

	}
	100% {
		transform:translateX(-20px);

	}
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:200,200');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");

body{
	margin: 0;
	padding: 0;
	height: 100%;
color:rgba(255,255,255,0.75);
font-family: 'Anonymous Pro',monospace;
background-color: rgb(25,25,25);

}
.for_height{
	height:100px;
}

@keyframes example {
	from {width:400px;height:400px;}
	to {width:500px;height:500px;}
  }
  
  /* The element to apply the animation to */
  .svg {
	animation:example;
	animation-duration: 4s;
  }
.line{
/* position:relative; */
/* top:10%; */
/* width:40%; */
/* margin:0 auto; */
border-right: 2px solid rgba(255,255,255,0.75) ;
/* font-size: 150%; */
/* text-align:center; */
/* white-space: nowrap; */
	overflow: hidden;
/* transform: translateY(-50%);  */
}
.anim-typewriter{
animation:typewriter 1s steps(8) 1s 1 normal both,
blinkTextCursor 600ms steps(8) infinite normal;
animation-delay: 1s;
/* animation-direction: alternate; */
/* animation-iteration-count: 1; */
/* animation-timing-function: ease; */
/* animation-fill-mode: backwards ; */
}

@keyframes typewriter{
from{
	width:0;
}
to{
	width:4.5em;
}
}
@keyframes blinkTextCursor {
from{
	border-right-color: rgba(255,255,255,0.75) ;
}
to{
	border-right-color:transparent;
}
}
h1, h2, h3, h4, h5 {
	font-family: 'Montserrat', sans-serif;
}
.parallax-section {
	background-attachment: fixed!important;
}
.btn-capsul {
	border-radius: 30px;
}
.btn-aqua {
	background: #0297FF;
	color: #fff;
}
.btn-aqua:hover {
	background: #10629b;
	color: #fff;
}
.btn-dark-blue {
	background: #0C242E;
	color: #fff;
}
.btn-dark-blue:hover {
	background: #063d28;
	color: #fff;
}
.btn-transparent-white {
	border: 2px solid #fff;
	color: #fff;
}
.btn-transparent-white:hover, .btn-transparent-white:focus {
	background: #fff;
	color: #0297FF
}
.relative-box {
	position: relative
}
section {
	float: left;
	width: 100%;
	padding: 80px 0;
}


/* TOP HEADER
-------------------------------------------------- */


.navbar.top-bar {
	border-radius: 0;
	padding: 16px 0;
	z-index: 16;
}
.navbar-toggler {
	border: 1px solid #fff;
	color: #fff;
	position: absolute;
	right: 21px;
}
.sps {
	padding: 1em .5em;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.25s ease;
	width: 100%;
}
.sps--abv {
	background-color: transparent;
	color: #000;
}
.sps--blw {
	background-color: #fff;
	color: #fff;
}
.top-bar a.navbar-brand {
	color: #fff;
	font-size: 26px;
	font-weight: 800;
	padding: 5px 0 0 10px;
	text-transform: uppercase;
}
.sps--blw.top-bar a.navbar-brand {
	color: #000;
}
.top-bar a.navbar-brand span {
	color: #0297ff;
}
.top-bar .nav-link {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	padding: 12px 18px!important;
}
.sps--blw.top-bar .nav-link {
	color: #000
}
.top-bar .navbar-nav .nav-item {
	margin: 0
}
.top-bar .nav-link:hover, .top-bar .nav-item.active a {
	color: #fff;
	border-bottom: 2px solid #fff;
	border-radius: 0;
}
.sps--blw.top-bar .nav-link:hover, .sps--blw.top-bar .nav-item.active a {
	color: #0297ff;
	border-bottom: none;
	border-radius: 0;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/*Swiper*/
.swiper-container {
	width: 100%;
	height: 100vh;
}
.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}
.main-slider .slider-bg-position {
	background-size: cover!important;
	background-position: center center!important;
}
.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
	background-image: none!important;
	color: #fff;
	width: 50px;
	height: 50px;
	border: 1px solid #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
}
.main-slider h2 {
	color: #fff;
	font-size: 54px;
	line-height: 59px;
	padding: 0 19%;
	text-transform: uppercase;
}
.main-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.9)
}
.main-slider .swiper-pagination-bullet-active {
	background: #0297ff
}
/* SERVICE SECTION
-------------------------------------------------- */

.service-sec .heading {
	float: left;
	width: 100%;
	margin-bottom: 70px;
	text-align:center;
}
.service-sec h2 {
	display: block;
	text-transform: capitalize;
	font-weight: 600;
	color: #0297FF;
	font-size: 32px;
}
.service-sec h2 small {
	color: #222;
	display: block;
	font-size: 22px;
	margin-bottom: 18px;
}
.service-sec i {
	border: 1px solid #0297FF;
	border-radius: 2px;
	font-size: 25px;
	padding: 12px 0;
	width: 52px;
	color: #0297FF;
	margin-bottom: 20px
}
.service-sec h3 {
	font-size: 23px;
	font-weight: 600;
}
.service-sec p {
	line-height: 22px;
	margin-top: 13px;
	padding: 0 21px;
}
.service-sec .service-block {
	margin-top: 30px;
}

/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
	background: url('http://grafreez.com/wp-content/temp_demos/burnout/img/para-01.jpg') no-repeat center center;
	background-size: cover;
	color: #fff;
	position: relative;
}
.about-sec:before {
	content: ' ';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(22,122,192,0.8);
	top: 0;
	left: 0
}
.about-sec h2 {
	font-size: 55px;
	font-weight: 800;
	margin-top: 25%;
}
.about-sec h2 small {
	display: block;
	font-size: 24px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.about-sec p {
	font-size: 16px;
}


.action-sec{width:100%; float:left; background:#222}
.action-box{float:left; width:100%; text-align:center;}
.action-box h2{color:#fff; font-size:20px;}

.ques_link{
	align-items: center;
	margin-left: 500px;
	position: center;
	color:	#c0392b;
}