<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="static/js/admin_index.js"></script>
    <title>Document</title>
</head>
<body>
    <a href="/add_question" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add question</a>
    <div class="list-group">
        {% for keys in items %}
            <span>{{ keys }}</span>
            <a class='list-group-item' id="{{ keys }}" href='/question/{{ items[keys] }}'>Link</a>
            <button type="button" class="btn btn-danger" onclick=delete2({{ items[keys]|tojson }})>delete</button>
            <br>
        {% endfor %}
      </div>
</body>
</html>